{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          { "modules": "umd" }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          { "modules": false }
        ]
      ]
    }
  },
  "presets": [
    "react"
  ],
  "ignore": [
    "node_modules/**"
  ]
}
