{
  "extends": ["@edx/eslint-config"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true
  },
  "overrides": [
    {
      "files": ["*.stories.jsx", "*.test.jsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "globals": {
    "jsdom": true
  }
}
