name: node_js CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Nodejs
      uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Install dependencies
      run: npm install

    - name: Lint
      run: npm run lint

    - name: Test
      run: npm run test

    - name: Compile
      run: npm run compile-prod

    - name: Verify es5
      run: npm run is-es5

    - name: Run Coverage
      uses: codecov/codecov-action@v2
